* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    overflow-y: scroll;
    background-color: #edeef0;
}

body.modal-open {
    overflow-y: scroll;
}

.modal-dialog {
    -webkit-transform: translate(0,0) !important;
    -ms-transform: translate(0,0) !important;
    transform: translate(0,0) !important;
    width: 800px;
    height: 600px;
    margin: calc(50vh - 300px) auto 0;
}
.modal-content {
    width: 100%;
    height: 100%;
    border-radius: 55px 0;
    overflow: hidden;
}

img {
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

.limiter {
    max-width: 800px;
    margin: 0 auto;
}

.menu {
    list-style: none;
    height: 50px;
    background-color: #151c46;
    margin: 0;
}
.menu .limiter {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu .menu-entry {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.menu a:hover,
.menu .active a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid;
    padding-bottom: 3px;
}

.intro-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255,255,255,0.8);
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    cursor: pointer;
}
.intro-overlay.overlay-hidden {
    opacity: 0;
    pointer-events: none;
}
.intro-overlay .title {
    color: #151c46;
    font-size: 70px;
}
.intro-overlay .sub-title {
    color: #151c46;
    font-size: 18px;
    max-width: 500px;
    text-align: center;
}
.intro-overlay .continue {
    margin-top: 50px;
    opacity: 0.7;
}

.font-title {
    font-family: 'Permanent Marker', cursive;
}

.map-container {
    width: 100%;
    height: calc(100vh - 50px);
}
.jvectormap-region {
    stroke: #151c46;
    stroke-width: 0.5;
}

.authors .author-block {
    display: flex;
    margin: 15px 0;
    background-color: #fff;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    padding: 15px;
    justify-content: space-between;
}
.author-block .photo-holder {
    width: 220px;
}
.author-block .text-holder {
    width: calc(100% - 235px);
}
.author-block .text-holder .name {
    font-size: 22px;
    line-height: 1;
    margin-bottom: 5px;
}
.author-block .text-holder .description {
    line-height: 1.5;
}

.country-info {
    width: 100%;
    height: 100%;
    position: relative;
}
.country-info.happy {
    background-color: #dcffdc;
}
.country-info.alright {
    background-color: #dcdcff;
}
.country-info.sad {
    background-color: #ffffdc;
}
.country-info.crying {
    background-color: #ffdcdc;
}
.country-info .step {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.5s opacity ease-in-out;
}
.country-info .step.step-invisible {
    opacity: 0;
    pointer-events: none;
}
.country-info .step {
    display: flex;
    align-items: center;
    justify-content: center;
}
.country-info .step .dude {
    width: 350px;
    height: 350px;
    position: relative;
    margin-right: 15px;
}
.country-info .dude .dude-stencil,
.country-info .dude .flag-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.country-info .step-1 .description {
    text-align: center;
    width: 350px;
}
.country-info .step-1 .status {
    font-size: 100px;
    font-weight: 900;
    font-family: 'Work Sans', sans-serif;
    line-height: 1;
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.country-info .step-1 .why {
    width: 200px;
    height: 75px;
    margin-top: 50px;
    border-radius: 5px;
    color: #fff;
    outline: none;
    font-size: 24px;
}
.country-info .step-1 .people-are {
    font-size: 30px;
}
.country-info .step-1 .rating {
    font-size: 22px;
}
.country-info.happy .status {
    color: #1ab394;
    -webkit-text-stroke: 3px #16987e;
}
.country-info.happy .colored-button {
    background-color: #1ab394;
    border: 2px solid #16987e;
}
.country-info.happy .colored-button:hover {
    background-color: #18a689;
}

.country-info.alright .status {
    color: #1c84c6;
    -webkit-text-stroke: 3px #1872ab;
    font-size: 80px;
}
.country-info.alright .colored-button {
    background-color: #1c84c6;
    border: 2px solid #1872ab;
}
.country-info.alright .colored-button:hover {
    background-color: #1a7bb9;
}

.country-info.sad .status {
    color: #f0ad4e;
    -webkit-text-stroke: 3px #f79d3c;
}
.country-info.sad .colored-button {
    background-color: #f0ad4e;
    border: 2px solid #f79d3c;
}
.country-info.sad .colored-button:hover {
    background-color: #f7a54a;
}

.country-info.crying .status {
    font-size: 90px;
    color: #ed5565;
    -webkit-text-stroke: 3px #ea394c;
}
.country-info.crying .colored-button {
    background-color: #ed5565;
    border: 2px solid #ea394c;
}
.country-info.crying .colored-button:hover {
    background-color: #ec4758;
}

.country-info .step-2 .dude {
    width: 250px;
    height: 250px;
}
.country-info .step-2 .info {
    width: 450px;
}
.country-info .step-2 .info-block {
    margin: 30px 0;
    box-shadow: 0 0 1px 1px #afafaf;
    /*position: relative;*/
    /*border-radius: 10px 0;*/
}
.country-info .step-2 .title {
    position: absolute;
    height: 26px;
    top: -18px;
    right: 10px;
    padding: 0 13px;
    box-shadow: 0 0 1px 1px #afafaf;
    font-size: 18px;
    line-height: 26px;
}
.country-info.happy .step-2 .info-block,
.country-info.happy .step-2 .title,
.country-info.happy .step-3 .ways-block {
    background-color: #f0fff0;
}
.country-info.alright .step-2 .info-block,
.country-info.alright .step-2 .title,
.country-info.alright .step-3 .ways-block {
    background-color: #f0f0ff;
}
.country-info.sad .step-2 .info-block,
.country-info.sad .step-2 .title,
.country-info.sad .step-3 .ways-block {
    background-color: #f0ffff;
}
.country-info.crying .step-2 .info-block,
.country-info.crying .step-2 .title,
.country-info.crying .step-3 .ways-block {
    background-color: #fff0f0;
}
.country-info .step-2 .how-to-change {
    width: 230px;
    height: 75px;
    margin-top: 50px;
    border-radius: 5px;
    color: #fff;
    outline: none;
    font-size: 24px;
}
.country-info .step-2 .gauge-outer {
    padding: 20px;
    position: relative;
}
.country-info .step-2 .gauge {
    height: 5px;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}
.country-info .step-2 .gauge-inner {
    height: 100%;
}
.country-info .step-2 .text {
    padding: 0 20px 20px;
}
.country-info.happy .step-2 .gauge {
    background-color: #dcffdc;
}
.country-info.happy .step-2 .gauge-inner,
.country-info.happy .ways-container::-webkit-scrollbar-thumb {
    background-color: #1ab394;
}
.country-info.alright .step-2 .gauge {
    background-color: #dcdcff
}
.country-info.alright .step-2 .gauge-inner,
.country-info.alright .ways-container::-webkit-scrollbar-thumb {
    background-color: #1c84c6;
}
.country-info.sad .step-2 .gauge {
    background-color: #ffffdc;
}
.country-info.sad .step-2 .gauge-inner,
.country-info.sad .ways-container::-webkit-scrollbar-thumb {
    background-color: #f0ad4e;
}
.country-info.crying .step-2 .gauge {
    background-color: #ffdcdc;
}
.country-info.crying .step-2 .gauge-inner,
.country-info.crying .ways-container::-webkit-scrollbar-thumb {
    background-color: #ed5565;
}

.panel-heading,
.panel-body {
    padding: 0;
}
.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0;
}

.country-info .step-3 .ways-container {
    width: 640px;
    height: 520px;
    padding-right: 10px;
    overflow-y: auto;
}
.ways-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.05);
    background-color: #F5F5F5;
}
.ways-container::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
.ways-container::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
}
.country-info .step-3 .ways-block {
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
}

.country-info .step-3 .ways-container:before,
.country-info .step-3 .ways-container:after {
    display: block;
    content: " ";
    position: fixed;
}
.country-info .step-3 .ways-container:before {
    top: 40px;
    left: 80px;
    width: 640px;
    height: 25px;
}
.country-info .step-3 .ways-container:after {
    bottom: 40px;
    left: 80px;
    width: 640px;
    height: 25px;
}
.country-info.happy .ways-container:before {
    background: linear-gradient(to top,rgba(220,255,220,0) 0,rgba(220,255,220,.5) 50%,rgba(220,255,220,1) 100%);
}
.country-info.happy .ways-container:after {
    background: linear-gradient(to bottom,rgba(220,255,220,0) 0,rgba(220,255,220,.5) 50%,rgba(220,255,220,1) 100%);
}
.country-info.alright .ways-container:before {
    background: linear-gradient(to top,rgba(220,220,255,0) 0,rgba(220,220,255,.5) 50%,rgba(220,220,255,1) 100%);
}
.country-info.alright .ways-container:after {
    background: linear-gradient(to bottom,rgba(220,220,255,0) 0,rgba(220,220,255,.5) 50%,rgba(220,220,255,1) 100%);
}
.country-info.sad .ways-container:before {
     background: linear-gradient(to top,rgba(255,255,220,0) 0,rgba(255,255,220,.5) 50%,rgba(255,255,220,1) 100%);
 }
.country-info.sad .ways-container:after {
    background: linear-gradient(to bottom,rgba(255,255,220,0) 0,rgba(255,255,220,.5) 50%,rgba(255,255,220,1) 100%);
}
.country-info.crying .ways-container:before {
    background: linear-gradient(to top,rgba(255,220,220,0) 0,rgba(255,220,220,.5) 50%,rgba(255,220,220,1) 100%);
}
.country-info.crying .ways-container:after {
    background: linear-gradient(to bottom,rgba(255,220,220,0) 0,rgba(255,220,220,.5) 50%,rgba(255,220,220,1) 100%);
}

.country-info .step-3 .got-it {
    display: block;
    margin: 5px auto 50px;
    width: 170px;
    height: 45px;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    outline: none;
}

.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: none;
}
.spinner-overlay .spinner-inner {
    width: 100px;
    height: 100px;
}