.happy-index-diagram img {
    display: block;
    margin: 0 auto;
}

.formula {
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
    text-align: center;
    font-weight: bold;
}

.references-table table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

.references-table td, th {
    border: 1px solid #dddddd;
    text-align: left;    
    padding: 16px;
}

.references-table td a:visited {
    color: blue;
}

.references-table tr:nth-child(even) {
    background-color: #dddddd;
}