<div class="rating-container limiter">
    <div class="search">
        <input class="search-input" type="text"
            ng-model="searchQuery"
            placeholder="type here to search countries" />
    </div>
    <div class="countries">
        <div class="country"
            ng-repeat="country in filteredCountries = (countries | filter : { Name: searchQuery }) | limitTo:countriesPerPage:countriesPerPage*(currentPage-1)"
            ng-click="showDetails(country)">
            <div class="flag-small">
                <img ng-src="https://happynation.azurewebsites.net/Images/{{country['ISO2']}}.svg" />
            </div>
            <div class="country-name">
                {{country['Name']}}
            </div>
            <div class="index">
                {{(country['HappyIndex'] * 5).toFixed(1)}}
            </div>
        </div>
    </div>
    <div class="pagination-holder">
        <ul uib-pagination
            rotate="true"
            force-ellipses="true"
            direction-links="false"
            items-per-page="countriesPerPage"
            total-items="filteredCountries.length"
            ng-model="currentPage"
            max-size="7"
            boundary-links="true"
            boundary-link-numbers="true"></ul>
    </div>
</div>