<div class="country-info" ng-class="countryMood">
    <div class="nav-column">
        <div class="dude">
            <img class="flag-bg"
                ng-src="https://happynation.azurewebsites.net/Images/{{countryInfo['ISO2']}}.svg">
            <img class="dude-stencil" ng-src="assets/dude-{{countryMood}}.png" />
        </div>
        <div class="rating" ng-class="'text-' + countryMood">
            {{(countryInfo['HappyIndex'] * 5).toFixed(1)}}
        </div>
        <div class="mood" ng-class="'text-' + countryMood">
            {{countryMood}}
        </div>
    </div>
    <div class="details-column" ng-class="'text-' + countryMood">
        <div class="icons">
            <div class="icon-wrapper"
                ng-class="info['Name'] === activeSlide ? 'active' : ''"
                ng-repeat="info in countryInfo.textInfos">
                <div class="icon"
                    ng-class="info['Name'].toLowerCase()"
                    ng-click="goToSlide(info['Name'])"
                    title="{{info['Name']}}">
                    <div class="filled" style="height: {{countryInfo[info['Name'] + 'Index'] * 100}}%"></div>
                </div>
            </div>
        </div>
        <div class="details-text">
            <div class="text-inner-container">
                <div class="slide slide-invisible"
                    ng-repeat="info in countryInfo.textInfos"
                    ng-class="'slide-' + info['Name']">
                    <div class="info-title">
                        What is wrong?
                    </div>
                    <div class="info-description">
                        {{info['Text']}}
                    </div>
                    <div class="info-title">
                        How can I help?
                    </div>
                    <div class="info-description">
                        {{info['WaysToImprove']}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="close-cross" ng-class="'text-' + countryMood"
        ng-click="closeModal()">
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>
</div>