<div class="country-info">
    <div class="step step-1">
        <div class="dude">
            <img src="assets/ukraine-smile.svg" />
        </div>
        <div class="description">
            <div class="people-are">
                People in Ukraine are
            </div>
            <div class="status">
                HAPPY
            </div>
            <div class="rating">
                (total happiness rating is 0.95)
            </div>
            <button ng-click="goToSlide(2)" class="why">Why?</button>
        </div>
    </div>
    <div class="step step-2 step-invisible">
        step 2
        <button ng-click="goToSlide(3)">go to step 3</button>
    </div>
    <div class="step step-3 step-invisible">
        step 3
        <button>close</button>
    </div>
</div>