<div class="country-info" ng-class="countryMood">
    <div class="step step-1">
        <div class="dude">
            <img class="flag-bg"
                 ng-src="https://peoplehappy.azurewebsites.net/Images/{{countryInfo['ISO2']}}.svg">
            <img class="dude-stencil" ng-src="assets/dude-{{countryMood}}.png" />
        </div>
        <div class="description">
            <div class="people-are">
                People in {{countryInfo['Name']}} are
            </div>
            <div class="status">
                {{countryMood}}
            </div>
            <div class="rating">
                (total happiness rating is {{countryInfo['HappyIndex'].toFixed(2)}})
            </div>
            <button ng-click="goToSlide(2)" class="why">Why?</button>
        </div>
    </div>
    <div class="step step-2 step-invisible">
        step 2
        <button ng-click="goToSlide(3)">go to step 3</button>
    </div>
    <div class="step step-3 step-invisible">
        step 3
        <button>close</button>
    </div>
</div>